<ion-header>
  <ion-toolbar>
    <ion-title>tamam</ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let gorev of eskiGorevler">
    <ion-list-header>
      <ion-label>Görev:{{gorev.baslik}}</ion-label>
    </ion-list-header>
    <ion-item>Açıklama: {{gorev.aciklama}}</ion-item>
    <ion-item>
      <ion-button (click)="TamamIptal(gorev,false)">Geri Al </ion-button>
      <ion-button (click)="Sil(gorev)">Sil</ion-button>
    </ion-item>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Görev Detayı</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setOpen(false)">Kapat</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <p>{{gorev.aciklama}}</p>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-list>
</ion-content>
