<ion-header>
  <ion-toolbar>
    <ion-title>Giriş</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="light">
    <ion-card-header>
      <ion-label>Lütfen Giriş Yapınız</ion-label>
    </ion-card-header>
    <ion-card-content>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input type="email" #mail></ion-input>
      <ion-label position="floating">Şifre</ion-label>
      <ion-input type="password" #parola></ion-input>
    </ion-card-content>
    <ion-item color="medium">
      <ion-button
        color="success"
        type="submit"
        (click)="OturumAc(mail.value,parola.value)"
        >Giriş</ion-button
      >
      <ion-button color="secondary" [routerLink]="['/signup']"
        >Kayıt Ol</ion-button
      >
    </ion-item>
  </ion-card>
</ion-content>
